In [1]:
# Import in Pandas functions
import pandas as pd

# The path to our CSV file
file = "Resources/CalendarData.csv"

# Read our AirBnB Calendar data into pandas
CalendarData = pd.read_csv(file)
CalendarData.head()

   listing_id        date available   price
0        2515  2018-10-01         t  $99.00
1        2515  2018-09-30         t  $89.00
2        2515  2018-09-29         t  $99.00
3        2515  2018-09-28         t  $99.00
4        2515  2018-09-27         t  $99.00

In [2]:

#Identify the number of lines in CalendarData DataFrame.
CalendarData.shape

(16182640, 4)

In [3]:
# Used the next line to work with 10,000 lines of data as opposed to the population.
# CalendarData = CalendarData[0:10000]

In [4]:
# Eliminate "$" from 'price' column.
CalendarData['price'] = CalendarData['price'].str.replace('$','')

In [5]:
# Eliminate "," from 'price' column.
CalendarData['price'] = CalendarData['price'].str.replace(',','')

In [6]:
# Identify make-up of CalendarData and display the tail of Panadas.
CalendarData.tail()

          listing_id        date available  price
16182635    21178032  2017-10-06         f    NaN
16182636    21178032  2017-10-05         f    NaN
16182637    21178032  2017-10-04         t  50.00
16182638    21178032  2017-10-03         t  50.00
16182639    21178032  2017-10-02         t  50.00

In [7]:
#Review of the CalendarData file after the "$" and "," are removed to change from string to float.
CalendarData.info

<bound method DataFrame.info of           listing_id        date available  price
0               2515  2018-10-01         t  99.00
1               2515  2018-09-30         t  89.00
2               2515  2018-09-29         t  99.00
3               2515  2018-09-28         t  99.00
4               2515  2018-09-27         t  99.00
5               2515  2018-09-26         t  99.00
6               2515  2018-09-25         t  99.00
7               2515  2018-09-24         t  99.00
8               2515  2018-09-23         t  99.00
9               2515  2018-09-22         t  99.00
10              2515  2018-09-21         t  99.00
11              2515  2018-09-20         t  99.00
12              2515  2018-09-19         t  99.00
13              2515  2018-09-18         t  99.00
14              2515  2018-09-17         t  99.00
15              2515  2018-09-16         t  99.00
16              2515  2018-09-15         t  99.00
17              2515  2018-09-14         t  99.00
18              2515  2018-09-13         t  99.00
19              2515  2018-09-12         t  99.00
20              2515  2018-09-11         t  99.00
21              2515  2018-09-10         t  99.00
22              2515  2018-09-09         t  99.00
23              2515  2018-09-08         t  99.00
24              2515  2018-09-07         t  99.00
25              2515  2018-09-06         t  99.00
26              2515  2018-09-05         t  99.00
27              2515  2018-09-04         t  99.00
28              2515  2018-09-03         t  99.00
29              2515  2018-09-02         t  99.00
...              ...         ...       ...    ...
16182610    21178032  2017-10-31         t  50.00
16182611    21178032  2017-10-30         t  50.00
16182612    21178032  2017-10-29         t  50.00
16182613    21178032  2017-10-28         t  50.00
16182614    21178032  2017-10-27         t  50.00
16182615    21178032  2017-10-26         t  50.00
16182616    21178032  2017-10-25         t  50.00
16182617    21178032  2017-10-24         t  50.00
16182618    21178032  2017-10-23         t  50.00
16182619    21178032  2017-10-22         t  50.00
16182620    21178032  2017-10-21         t  50.00
16182621    21178032  2017-10-20         t  50.00
16182622    21178032  2017-10-19         t  50.00
16182623    21178032  2017-10-18         t  50.00
16182624    21178032  2017-10-17         t  50.00
16182625    21178032  2017-10-16         t  50.00
16182626    21178032  2017-10-15         f    NaN
16182627    21178032  2017-10-14         f    NaN
16182628    21178032  2017-10-13         f    NaN
16182629    21178032  2017-10-12         t  50.00
16182630    21178032  2017-10-11         t  50.00
16182631    21178032  2017-10-10         t  50.00
16182632    21178032  2017-10-09         t  50.00
16182633    21178032  2017-10-08         t  50.00
16182634    21178032  2017-10-07         f    NaN
16182635    21178032  2017-10-06         f    NaN
16182636    21178032  2017-10-05         f    NaN
16182637    21178032  2017-10-04         t  50.00
16182638    21178032  2017-10-03         t  50.00
16182639    21178032  2017-10-02         t  50.00

[16182640 rows x 4 columns]>

In [8]:
# List the dataframe with the last 20 listings
CalendarData.columns = ['Listing ID', 'Date', 'Available', 'Price']
CalendarData.tail(20)

          Listing ID        Date Available  Price
16182620    21178032  2017-10-21         t  50.00
16182621    21178032  2017-10-20         t  50.00
16182622    21178032  2017-10-19         t  50.00
16182623    21178032  2017-10-18         t  50.00
16182624    21178032  2017-10-17         t  50.00
16182625    21178032  2017-10-16         t  50.00
16182626    21178032  2017-10-15         f    NaN
16182627    21178032  2017-10-14         f    NaN
16182628    21178032  2017-10-13         f    NaN
16182629    21178032  2017-10-12         t  50.00
16182630    21178032  2017-10-11         t  50.00
16182631    21178032  2017-10-10         t  50.00
16182632    21178032  2017-10-09         t  50.00
16182633    21178032  2017-10-08         t  50.00
16182634    21178032  2017-10-07         f    NaN
16182635    21178032  2017-10-06         f    NaN
16182636    21178032  2017-10-05         f    NaN
16182637    21178032  2017-10-04         t  50.00
16182638    21178032  2017-10-03         t  50.00
16182639    21178032  2017-10-02         t  50.00

In [9]:
# Drop all rows with no price data.
CalendarData = CalendarData.dropna()

In [11]:
# Changed price to a float after taking out the "$" and ",".
CalendarData['Price'] = CalendarData['Price'].astype('float')

C:\Users\Data Analyst\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
# Identify the data types.
CalendarData.dtypes

Listing ID      int64
Date           object
Available      object
Price         float64
dtype: object

In [ ]:
# Created the CalendarData4Analysis CSV file.
CalendarData.to_csv("Output/CalendarData4Analysis.csv")

In [13]:
# Created the Group by Listing ID
ListingGrouped_df = CalendarData.groupby(['Listing ID'])
ListingGrouped_df.head()

          Listing ID        Date Available  Price
0               2515  2018-10-01         t   99.0
1               2515  2018-09-30         t   89.0
2               2515  2018-09-29         t   99.0
3               2515  2018-09-28         t   99.0
4               2515  2018-09-27         t   99.0
365             2539  2018-05-12         t   99.0
366             2539  2018-05-11         t   99.0
367             2539  2018-05-10         t  150.0
368             2539  2018-05-09         t  150.0
369             2539  2018-05-08         t  150.0
730             2595  2018-10-01         t  238.0
731             2595  2018-09-30         t  238.0
732             2595  2018-09-29         t  238.0
733             2595  2018-09-28         t  238.0
734             2595  2018-09-27         t  238.0
1095            3330  2018-08-05         t   70.0
1096            3330  2018-08-04         t   70.0
1097            3330  2018-08-03         t   70.0
1098            3330  2018-08-02         t   70.0
1099            3330  2018-08-01         t   70.0
1460            3647  2018-10-01         t  150.0
1461            3647  2018-09-30         t  150.0
1462            3647  2018-09-29         t  150.0
1463            3647  2018-09-28         t  150.0
1464            3647  2018-09-27         t  150.0
1825            3831  2018-10-01         t   96.0
1826            3831  2018-09-30         t   95.0
1827            3831  2018-09-29         t   95.0
1828            3831  2018-09-28         t   95.0
1829            3831  2018-09-27         t   96.0
...              ...         ...       ...    ...
16180240    21176693  2018-03-30         t   41.0
16180241    21176693  2018-03-29         t   41.0
16180242    21176693  2018-03-28         t   41.0
16180243    21176693  2018-03-27         t   41.0
16180244    21176693  2018-03-26         t   41.0
16181034    21177156  2017-12-30         t  185.0
16181035    21177156  2017-12-29         t  185.0
16181036    21177156  2017-12-28         t  185.0
16181037    21177156  2017-12-27         t  185.0
16181038    21177156  2017-12-26         t  185.0
16181515    21177194  2017-10-31         t   50.0
16181516    21177194  2017-10-30         t   50.0
16181517    21177194  2017-10-29         t   50.0
16181518    21177194  2017-10-28         t   50.0
16181519    21177194  2017-10-27         t   50.0
16181820    21177575  2017-12-31         t   55.0
16181881    21177575  2017-10-31         t   55.0
16181882    21177575  2017-10-30         t   55.0
16181883    21177575  2017-10-29         t   55.0
16181884    21177575  2017-10-28         t   55.0
16182002    21177608  2018-03-30         t   48.0
16182003    21177608  2018-03-29         t   48.0
16182004    21177608  2018-03-28         t   48.0
16182005    21177608  2018-03-27         t   48.0
16182006    21177608  2018-03-26         t   48.0
16182275    21178032  2018-08-31         t   50.0
16182276    21178032  2018-08-30         t   50.0
16182277    21178032  2018-08-29         t   50.0
16182278    21178032  2018-08-28         t   50.0
16182279    21178032  2018-08-27         t   50.0

[141055 rows x 4 columns]

In [14]:
# Identify unique values in a column
Available_count = len(CalendarData["Available"].unique())

# Calculate the Average price
Average_price = CalendarData["Price"].mean()

# Count the number of purchases
Listing_Count = CalendarData["Listing ID"].count()

# Totaling the revenue $$$$$
Total_Revenue = CalendarData["Price"].sum()

# Place all of the data into a summary DataFrame
Summary_Table_df = pd.DataFrame({"Unique Items": [Available_count],
                             "Numbers of Listings": [Listing_Count],
                             "Average Price": "${0:.2f}".format(Average_price),
                             "Total Revenue": "${0:,.2f}".format(Total_Revenue)})

# Print out a Summary Tabel DataFrame
Summary_Table_df

   Unique Items  Numbers of Listings Average Price    Total Revenue
0             1              5582376       $170.32  $950,778,659.00

In [15]:
# Identify the top spenders by 'Listing ID' with number of purchases, average purchases, and total purchase value
Top_Spend_sum = CalendarData.groupby('Listing ID')['Price'].sum()
Top_Spend_mean = CalendarData.groupby('Listing ID')['Price'].mean()
Top_Spend_count = CalendarData.groupby('Listing ID')['Price'].count()

# Sort data on sum
Top_Spend = pd.DataFrame({'Total Spend by ID':Top_Spend_sum,'Average Spend by ID':Top_Spend_mean,'Number or Listings by ID':Top_Spend_count})

# Print output
Top_Spend.sort_values('Total Spend by ID',ascending=False)

            Total Spend by ID  Average Spend by ID  Number or Listings by ID
Listing ID
12955683            3639272.0          9998.000000                       364
2953058             2920000.0          8000.000000                       365
16810657            2151672.0          5911.186813                       364
13910919            2121181.0          5843.473829                       363
1448703             1825000.0          5000.000000                       365
18051877            1820000.0          5000.000000                       364
17416959            1753150.0          4829.614325                       363
2952861             1642500.0          4500.000000                       365
15307748            1384240.0          3802.857143                       364
16594414            1357100.0          3718.082192                       365
18323408            1335479.0          3740.837535                       357
13915528            1143450.0          3150.000000                       363
14730708            1095000.0          3000.000000                       365
363673              1092000.0          3000.000000                       364
18071399            1092000.0          3000.000000                       364
17666300             992475.0          2827.564103                       351
19507918             970351.0          2665.799451                       364
14800877             937489.0          2582.614325                       363
4586448              912500.0          2500.000000                       365
2939700              912500.0          2500.000000                       365
14408114             912500.0          2500.000000                       365
14490720             910000.0          2500.000000                       364
13250484             905000.0          2500.000000                       362
20649348             890000.0         10000.000000                        89
14590978             885000.0          5000.000000                       177
18094418             799900.0          2366.568047                       338
10314411             795331.0          2790.635088                       285
11039478             773590.0          2733.533569                       283
15857259             772652.0          2122.670330                       364
7923681              771600.0          2113.972603                       365
...                       ...                  ...                       ...
20450486                 52.0            52.000000                         1
7150327                  52.0            52.000000                         1
15855646                 51.0            51.000000                         1
10298106                 50.0            50.000000                         1
16520567                 50.0            50.000000                         1
15742303                 50.0            50.000000                         1
13005436                 50.0            50.000000                         1
14690075                 49.0            49.000000                         1
19677221                 49.0            49.000000                         1
12947660                 48.0            48.000000                         1
20873362                 48.0            48.000000                         1
19920179                 45.0            45.000000                         1
21138554                 45.0            45.000000                         1
21009103                 45.0            45.000000                         1
17223884                 45.0            45.000000                         1
8400115                  45.0            45.000000                         1
21087317                 44.0            44.000000                         1
20995454                 43.0            21.500000                         2
7148791                  42.0            42.000000                         1
5272406                  41.0            41.000000                         1
4355934                  40.0            40.000000                         1
16597216                 40.0            40.000000                         1
13656752                 40.0            40.000000                         1
17108063                 39.0            39.000000                         1
20804409                 39.0            39.000000                         1
15938340                 36.0            36.000000                         1
4663807                  30.0            30.000000                         1
7053353                  27.0            27.000000                         1
18444334                 26.0            26.000000                         1
16477186                 25.0            25.000000                         1

[28735 rows x 3 columns]

In [16]:
# Describe ListingGrouped
ListingGrouped_df.describe()

            Price
            count        mean        std    min     25%    50%     75%    max
Listing ID
2515        292.0   90.643836  14.167743   59.0   89.00   99.0   99.00   99.0
2539        365.0  135.468493  23.052072   99.0   99.00  150.0  150.00  150.0
2595        363.0  220.341598  19.374589  198.0  198.00  234.0  238.00  238.0
3330        337.0   70.000000   0.000000   70.0   70.00   70.0   70.00   70.0
3647        365.0  150.000000   0.000000  150.0  150.00  150.0  150.00  150.0
3831        177.0   95.158192   2.232979   89.0   94.00   95.0   96.00  105.0
4611        268.0   45.138060   1.360067   43.0   43.00   46.0   46.00   46.0
4989         40.0  150.000000   0.000000  150.0  150.00  150.0  150.00  150.0
5099        319.0  203.761755  19.056841  200.0  200.00  200.0  200.00  300.0
5121        257.0   60.000000   0.000000   60.0   60.00   60.0   60.00   60.0
5135        114.0  283.245614  16.307098  275.0  275.00  275.0  295.00  375.0
5172          1.0  129.000000        NaN  129.0  129.00  129.0  129.00  129.0
5178        242.0   79.000000   0.000000   79.0   79.00   79.0   79.00   79.0
5238        282.0  136.436170   6.395436  125.0  140.00  140.0  140.00  140.0
5295         92.0  135.000000   0.000000  135.0  135.00  135.0  135.00  135.0
5441         38.0  132.315789  10.710200  126.0  126.00  126.0  144.00  150.0
5803        319.0   81.228840   2.185066   80.0   80.00   80.0   82.00   87.0
5945         88.0  120.000000   0.000000  120.0  120.00  120.0  120.00  120.0
6090         18.0  153.000000   0.000000  153.0  153.00  153.0  153.00  153.0
6848        292.0  145.479452  12.686123  110.0  150.00  150.0  150.00  150.0
6990        285.0   95.000000   0.000000   95.0   95.00   95.0   95.00   95.0
7036        274.0   65.000000   0.000000   65.0   65.00   65.0   65.00   65.0
7097        328.0  217.743902   4.468882  215.0  215.00  215.0  225.00  225.0
7241        110.0  134.972727   4.149630  131.0  131.00  131.0  139.00  140.0
7748        268.0   55.000000   0.000000   55.0   55.00   55.0   55.00   55.0
7801        305.0  299.000000   0.000000  299.0  299.00  299.0  299.00  299.0
7816        278.0  225.000000   0.000000  225.0  225.00  225.0  225.00  225.0
8024        345.0  119.785507   1.051200  114.0  120.00  120.0  120.00  120.0
8025        336.0  110.000000   0.000000  110.0  110.00  110.0  110.00  110.0
8110        344.0   98.773256   7.512538   90.0   90.00  105.0  105.00  113.0
...           ...         ...        ...    ...     ...    ...     ...    ...
21173579      4.0   46.500000   1.290994   45.0   45.75   46.5   47.25   48.0
21173707    365.0   60.000000   0.000000   60.0   60.00   60.0   60.00   60.0
21173744    130.0  179.446154  15.466925  175.0  175.00  175.0  175.75  300.0
21173814     66.0   73.575758   5.580352   66.0   67.25   76.0   78.00   82.0
21173830     21.0  192.857143  17.928429  150.0  200.00  200.0  200.00  200.0
21174008     19.0  249.210526  15.834487  240.0  240.00  240.0  257.50  275.0
21174445    123.0   42.650407   0.746398   40.0   43.00   43.0   43.00   43.0
21174566      5.0  107.000000   0.707107  106.0  107.00  107.0  107.00  108.0
21174623      1.0   60.000000        NaN   60.0   60.00   60.0   60.00   60.0
21174772     28.0   85.392857   1.133310   85.0   85.00   85.0   85.00   90.0
21174790     27.0  183.555556  13.130509  179.0  179.00  179.0  179.00  220.0
21174863    336.0   95.491071   0.500666   95.0   95.00   95.0   96.00   96.0
21174874    158.0  176.170886   2.386782  175.0  175.00  175.0  175.00  183.0
21175023    170.0   55.000000   0.000000   55.0   55.00   55.0   55.00   55.0
21175139     12.0   49.000000   0.000000   49.0   49.00   49.0   49.00   49.0
21175160    170.0   76.276471   6.698938   66.0   71.00   74.0   81.75   88.0
21175464      6.0   68.000000   0.000000   68.0   68.00   68.0   68.00   68.0
21175597     91.0   67.428571   4.477457   59.0   63.00   68.0   72.00   73.0
21175803      6.0  160.333333   2.160247  158.0  159.00  160.0  161.00  164.0
21175844     86.0   83.627907   2.052525   79.0   82.25   84.0   85.00   88.0
21176345    358.0   88.000000   0.000000   88.0   88.00   88.0   88.00   88.0
21176357    156.0   83.557692   4.795482   80.0   80.00   80.0   88.00   93.0
21176417     14.0   69.000000   0.000000   69.0   69.00   69.0   69.00   69.0
21176433     17.0   86.411765   1.970369   85.0   85.00   85.0   89.00   89.0
21176693    168.0   39.678571   0.711929   39.0   39.00   40.0   40.00   41.0
21177156     23.0  172.652174  19.919403  147.0  156.00  170.0  185.00  225.0
21177194     25.0   50.000000   0.000000   50.0   50.00   50.0   50.00   50.0
21177575     23.0   55.043478   0.208514   55.0   55.00   55.0   55.00   56.0
21177608    158.0   49.069620   6.617981   48.0   48.00   48.0   48.00   90.0
21178032    355.0   50.000000   0.000000   50.0   50.00   50.0   50.00   50.0

[28735 rows x 8 columns]

In [21]:
# Save the dataframe for analysis
Top_Spend.to_csv("Output/GroupedCalendarData.csv")